<h2>社員一覧</h2>
<div>
  <label>社員名:
    <input type="text" #memberName>
  </label>
  <button (click)="add(memberName.value); memberName.value = ''">追加</button>
</div>

<ul class = "members">
    <li *ngFor="let member of members">
<!--      [class.selected]="member === selectedMember"-->
<!--      (click)="onSelect(member)"-->

      <a routerLink="/detail/{{member.id}}">
        <span class = "badge">{{ member.id }}</span>{{ member.name }}
      </a>
      <button class="delete" title="社員削除" (click)="delete(member)">x</button>
    </li>
</ul>

<!--<app-member-detail [member]="selectedMember"></app-member-detail>-->
